<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.emmunaf.mesearch</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>189B2BC5-3E5C-4D52-9B29-2567387969F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD041095-6D85-4793-8757-BBA8B74324BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE40E94B-3036-4F7F-A2FE-4CAB02484DE7</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy url to Clipboard!</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E60735B5-9057-46BB-8BED-7CCCFAD02C4E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy to Clipboard!</string>
			</dict>
		</array>
		<key>E83A0E5C-7DEC-4F30-86BE-B0B8CB90ADCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD041095-6D85-4793-8757-BBA8B74324BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE40E94B-3036-4F7F-A2FE-4CAB02484DE7</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy url to Clipboard!</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E60735B5-9057-46BB-8BED-7CCCFAD02C4E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy to Clipboard!</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Emanuele Munafò</string>
	<key>description</key>
	<string>Search and download manga from mangaeden.com</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MangaEden Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BD041095-6D85-4793-8757-BBA8B74324BB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>mesi</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Waiting for results...</string>
				<key>script</key>
				<string>python mangaedenAPI.py --setlang 1 "{query}"</string>
				<key>subtext</key>
				<string>Search it!</string>
				<key>title</key>
				<string>Search on Mangaeden...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E83A0E5C-7DEC-4F30-86BE-B0B8CB90ADCF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CE40E94B-3036-4F7F-A2FE-4CAB02484DE7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>mes</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Waiting for results...</string>
				<key>script</key>
				<string>python mangaedenAPI.py --setlang 0 "{query}"</string>
				<key>subtext</key>
				<string>Search it!</string>
				<key>title</key>
				<string>Search on Mangaeden...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>189B2BC5-3E5C-4D52-9B29-2567387969F6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Read the manga pasting the url on your browser!</string>
				<key>title</key>
				<string>Copied to Clipboard!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E60735B5-9057-46BB-8BED-7CCCFAD02C4E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>189B2BC5-3E5C-4D52-9B29-2567387969F6</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>BD041095-6D85-4793-8757-BBA8B74324BB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CE40E94B-3036-4F7F-A2FE-4CAB02484DE7</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>E60735B5-9057-46BB-8BED-7CCCFAD02C4E</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>E83A0E5C-7DEC-4F30-86BE-B0B8CB90ADCF</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
